rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /posts/{post} {
      allow read;
      allow create: if request.auth != null;
	    allow update: if request.auth != null && resource.data.authorInfo.uid == request.auth.uid;
      match /comments/{comment} {
    		allow read;
        allow write;
      }
		}
    
    match /managers/{manager} {
    	allow read: if request.auth.uid == resource.data.uid;
      allow create: if request.auth != null;
      allow update: if request.auth.uid == resource.data.uid;
    }
  }
}