.page-default-template {
  
  padding-top: 200px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
}

.list-style-none {
  list-style: none;
}
