// responsive var settings
$pc_media: 992px;
$pcs_media: 991px;
$pad_media: 768px;
$pads_media: 767px;
$phone_media: 576px;
$phones_media: 575px;

// padding 相關配置
$base_pd: .5rem;
$block_level_pd: 1rem;
$page_level_pd: 2rem;

// icon 相關配置
$icon_base_size: 1.5rem;
$icon_base_color: #000;

// border_radius
$border_radius: 5px;

// html body bgc
$bgc_body: #2d2d2d;

//on deep body color based color
$based_on_body: #242424;

// colors:

.warning {
  color: #F2C9A9;
}