// padding 相關配置
$base-pd: .5rem;
$block-level-pd: 1rem;
$page-level-pd: 2rem;

// icon 相關配置
$icon-base-size: 1.5rem;
$icon-base-color: #000;

// border-radius
$border-radius: 5px;

// html body bgc
$bgc-body: #2d2d2d;

//on deep body color based color
$based-on-body: #242424;

// colors:

.warning {
  color: #F2C9A9;
}